@import url('footer.css');
body::-webkit-scrollbar {
    display: none;
}

.heading {
    padding: 3vw 3vw 0 3vw;
    margin: 2vw 2vw 0 2vw;
}

.heading h2 {
    font-size: 3vw;
    display: inline-block;
    /* border: 2px darkcyan solid; */
    position: absolute;
    left: 50%;
    top: 2.3%;
    transform: translateX(-50%);
    font-family: 'Patrick Hand SC', cursive;
    padding: 0.3vw 3vw;
    background-color: #fff;
    color: #000;
    z-index: 100;

}

.heading p {
    font-size: 1.3vw;
    display: inline-block;
    border-top: 2px #313f4e69 solid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    padding: 3vw 1vw;
    z-index: 0;
}

.gallery_column img {
    margin: 0;
    width: 105%;
}

.container {
    display: flex;
}

.gallery_column {
    width: 33%;
    margin: 0;
    padding: 0;
}
.image{
    /* border: 2px rebeccapurple solid; */
    margin: 1.3vw;
    overflow: hidden;
    box-shadow:
  1.5px 2.2px 2.7px rgba(0, 0, 0, 0.037),
  3.4px 4.9px 6px rgba(0, 0, 0, 0.05),
  5.7px 8.3px 10.1px rgba(0, 0, 0, 0.058),
  8.6px 12.5px 15.3px rgba(0, 0, 0, 0.064),
  12.4px 18px 22px rgba(0, 0, 0, 0.068),
  17.5px 25.5px 31.2px rgba(0, 0, 0, 0.07),
  24.9px 36.2px 44.2px rgba(0, 0, 0, 0.072),
  36.1px 52.6px 64.2px rgba(0, 0, 0, 0.072),
  55.7px 81px 99px rgba(0, 0, 0, 0.072),
  99px 144px 176px rgba(0, 0, 0, 0.07);
}

figure{
    margin: 0;
    position: relative;
    bottom: -4px;
    padding: 0px;
    cursor: pointer;
}
.image:hover figcaption{
    visibility: visible;
    transform: translateY(-7.6vw);
}
figcaption {
    transition: all ease-in-out 250ms;
    position: absolute;
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    padding: 3vw;
    color: #fff;
    font-weight: 900;
    background-color: #14121585;
    width: 24.2%;
    text-align: center;
    visibility: hidden;
    transform: translateY(-3.4vw);

}